
.menu{
    display:flex;
    justify-content:space-between;
    background-color:yellow;
}
.grid{
    display: flex;
    border:5px solid rgb(230, 14, 14);
    border-radius: 50 px;
    background-color:rgb(0, 225, 255);
}
.grid img{
    display: flex;
    flex-wrap:wrap;
}
.orgami{
    font-family:sans-serif;
    border-radius:20px;
    width:310 px
}